*{
    margin: 0;
}

html { height: 100% }

body{
    min-height: 100%;
    font-family: 'Source Sans 3', sans-serif; 
    background:ghostwhite;
}

.layout{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px calc(100vh - 50px);
    justify-items: center;
    grid-template-areas: 
    "nav"
    "image"
    "main"; 
}

.profile-pic{
    width: 100%;
    height: max-content;
    object-fit: cover; 
    filter: brightness(50%);
    grid-area: image;
}

.about-container{
    color: white;
    grid-area: main;
    position: absolute;
    bottom: 5%;
    width: 80%;
    padding-left: 10%;
}

.pretitle{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: larger;
}

.title{
    font-family: 'Palanquin Dark', sans-serif;
    line-height: 100%;          /*Modificar para distintos typefaces */
    font-size:  xx-large; 
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.description{
    font-family: 'Source Sans 3', sans-serif; 
}

.navbar{
    display: flex; 
    width: 100%;
    text-align: center;
    background: ghostwhite;
    justify-content: space-evenly; 
    height: 50px; 
    grid-area: nav;
    align-self: center;
    margin-right: 0%; 
    font-family: "STIX Two Text", serif;
  }
  
  .href-container{
    background: ghostwhite; 
    position: relative; 
    height: 50px; 
    flex-grow: 1;
    min-width: max-content;
  }
  
  .href-container:hover{
    background: #e0e0e0; 
  }
  
  .navbar a{
    display: block;
    text-decoration: none; 
    color: black; 
    padding: 14px 20px;
    font-size: medium;
  }
  
  .dropdownButton:hover .dropdown-container{
    display: flex;
    flex-direction: column;
  }

  .dropdownButton:active .dropdown-container{
    display: flex; 
    flex-direction: column; 
  }
  
  .href-container-drop:hover{
    background: #bdbdbd; 
  }
  
  .dropdown-container{
    display:none; 
    position: absolute; 
    top: 50px; /*cambiar esto si se modifica el tamaño del navbar */
    left: 0px; 
    width: max-content;
    z-index: 1;
  }
  
  .href-container-drop{
    background: #e0e0e0; 
    width: auto; 
    text-align: left; 
  }

/* ------------------------------------ */

@media only screen and (min-width: 950px){
    .layout{
        height: 100vh;
        display: grid;
        justify-items: left;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr;
        column-gap: 50px;
        grid-template-areas: 
        "nav nav"
        "image main"
    }
    
    
    .profile-container{
        grid-area: main;
        overflow: hidden;
    }
    
    .profile-pic{
        align-self: center; 
        justify-self: end;
        height: 550px; 
        /* object-fit: cover;
        width: 230px;
        height: 230px;
        border-radius: 100%; */
        width: auto;
        object-fit: unset;
        filter: brightness(100%);
    }
    
    .about-container{
        grid-area: main;
        align-self: center;
        /* font-family: 'Gabarito', sans-serif; */
        width: 70%;
        color: black;
        position: initial;
        padding-left: unset;
        bottom: unset;
    }
    
    .pretitle{
        font-family: 'Palanquin Dark', sans-serif;
        font-size: x-large;
        color: midnightblue;
        position: initial;
    }
    
    .title{
        font-family: 'Palanquin Dark', sans-serif;
        line-height: 100%;          /*Modificar para distintos typefaces */
        font-size:  xxx-large; 
        letter-spacing: 2px;
        margin-bottom: 15px;
        color: midnightblue;
    }
    
    .description{
        font-family: 'Source Sans 3', sans-serif; 
        font-weight: 400;
        line-height: 150%;
    }

    .navbar{
        width: 95%;
        margin-right: 5%;
        justify-content: end; 
    }

    .navbar a{
        font-size: large;
    }

    .href-container{
        flex-grow: unset;
    }
    
}