*{
    margin: 0;
}

html { height: 100% }

body{
    min-height: 100%;
    font-family: 'Source Sans 3', sans-serif; 
    background:ghostwhite;
}

.layout{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px calc(100vh - 50px);
    justify-items: center;
    grid-template-areas: 
    "nav"
    "image"
    "main"; 
}

.profile-pic{
    width: 100%;
    height: max-content;
    object-fit: cover; 
    filter: brightness(50%);
    grid-area: image;
}

.about-container{
    color: white;
    grid-area: main;
    position: absolute;
    bottom: 5%;
    width: 80%;
    padding-left: 10%;
}

.pretitle{
    font-family: 'Palanquin Dark', sans-serif;
    font-size: larger;
}

.title{
    font-family: 'Palanquin Dark', sans-serif;
    line-height: 100%;          /*Modificar para distintos typefaces */
    font-size:  xx-large; 
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.description{
    font-family: 'Source Sans 3', sans-serif; 
}


/* ------------------------------------ */

@media only screen and (min-width: 950px){
    .layout{
        height: 100vh;
        display: grid;
        justify-items: left;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr;
        column-gap: 50px;
        grid-template-areas: 
        "nav nav"
        "image main"
    }
    
    
    .profile-container{
        grid-area: main;
        overflow: hidden;
    }
    
    .profile-pic{
        align-self: center; 
        justify-self: end;
        height: 550px; 
        /* object-fit: cover;
        width: 230px;
        height: 230px;
        border-radius: 100%; */
        width: auto;
        object-fit: unset;
        filter: brightness(100%);
    }
    
    .about-container{
        grid-area: main;
        align-self: center;
        /* font-family: 'Gabarito', sans-serif; */
        width: 70%;
        color: black;
        position: initial;
        padding-left: unset;
        bottom: unset;
    }
    
    .pretitle{
        font-family: 'Palanquin Dark', sans-serif;
        font-size: x-large;
        color: midnightblue;
        position: initial;
    }
    
    .title{
        font-family: 'Palanquin Dark', sans-serif;
        line-height: 100%;          /*Modificar para distintos typefaces */
        font-size:  xxx-large; 
        letter-spacing: 2px;
        margin-bottom: 15px;
        color: midnightblue;
    }
    
    .description{
        font-family: 'Source Sans 3', sans-serif; 
        font-weight: 400;
        line-height: 150%;
    }
    
}