/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Estilos del contenido principal */
.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin-left: 50px;
 
}

.profile {
  width: auto;
  height: auto;
  max-width: calc(50% - 10px);
  max-height: calc(100vh - 20px);
  border-radius: 10px;
  margin-left: 100px;
  margin-right: 50px;
}

.text {
  width: auto;
  height: auto;
  align-items: right;
  max-width: calc(50% - 10px);
  margin-left: 10px;
  font-family: 'Inter', sans-serif;
  color: #333333;
   
  margin-right: 500px;
  margin-bottom: 50px;
}

h1 {
  font-size: 4.375em;
}

.main p {
  font-size: 1.25em;
  width: 100%;
}

.main img {
  transform: scale (2);
}

.cut {
  margin-top: 800px;
}

/* Efecto typewritter */

.typewriter h1 {
  overflow: hidden; /* Asegura que el contenido no se revele hasta que comience la animación */
  border-right: .15em solid orange; /* El cursor de la máquina de escribir */
  white-space: nowrap; /* Mantiene el contenido en una sola línea */
  margin: 8 auto; /* Da ese efecto de desplazamiento a medida que se escribe */
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
  width: 700px;
  
}

/* El efecto de escritura */
@keyframes typing {
  from { width: 0 }
  to { width: 700px }
}

/* El efecto del cursor de la máquina de escribir */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

